---
rails_app:
   packages: {{rails_app_packages | to_yaml}}
   name: {{rails_app_name}}
   user: {{rails_app_user}}
   path: {{rails_app_path}}
   fqdn: {{rails_app_fqdn}}
   db_config: {{rails_app_db | to_yaml}}
   proxy: {{rails_app_proxy_config_path}}
