
$HTTP["host"] == "{{rails_app_fqdn | mandatory}}" {
    server.document-root = "{{rails_app_path}}/public"

    magnet.attract-physical-path-to = ( "/etc/lighttpd/rails.lua" )

    proxy.server = ( "" => ( "{{rails_app_name}}" =>
       ("host" => "/tmp/puma_{{rails_app_name}}.socket"),
    ))
}
