[Unit]
Description={{rails_app_name | title}} Application Server
Before={{rails_app_proxy}}.service
After=network.target

[Service]
Type=simple
User={{rails_app_user}}
WorkingDirectory={{rails_app_path}}
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p {{rails_app_socket | dirname}}
ExecStartPre=/bin/chown -R redmine:redmine {{rails_app_socket | dirname}}
ExecStart={{rubygems_path}}/bin/puma -C "{{rails_app_config_path_puma}}"
Restart=always

[Install]
WantedBy=multi-user.target
